@import "compass/css3";
@import "compass/css3/transition";

@import "partials/fonts";
//Set Bootstrap variables before pulling in.
@import "partials/variables";


//Get THE Bootstrap and make it all Bootylicious
@import "bootstrap/bootstrap";

//@import "_stylex";
@import "partials/_bst4";
@import "partials/general";
@import "partials/utilities";
@import "partials/wordpress";

@import "partials/header";
//@import "partials/custom-navbar";
@import "partials/classic-hamburger";

@import "partials/footer";
@import "partials/menus";
@import "partials/navbar";
@import "partials/pagination";
@import "partials/backtotop";
@import "partials/banner";
@import "partials/owl-sliders";

@import "partials/buttons";
@import "partials/yarpp";


@import "partials/social-links";
@import "partials/block-final-cta";

//@import "partials/resources";
@import "partials/our-work";

//------------------------//
@import "partials/testing";

//@media only screen and (min-width : 768px) {
//  .is-table-row {
//    display: table;
//  }
//  .is-table-row [class*="col-"] {
//    float: none;
//    display: table-cell;
//    vertical-align: top;
//  }
//}

.read-more-button-wrapper{
  position: absolute;
  bottom: $grid-gutter-width;
  left: 0;
  right: 0;
}

.button-wrapperx{
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.price-block{
  &.price-block-premium{
    margin-top:-54px;
    .prem-header{
      position: absolute;
      top:0;
      left:0;
      right:0;
      width:auto;
      height:54px;
      margin-left: 15px;
      margin-right: 15px;
      line-height: 54px;
      text-transform: uppercase;
      + div{
        margin-top:54px;
      }
    }
  }
  .title{
    margin-bottom: 0;
  }
  .title-tagline{
    font-size: 14px;
  }
  .pricing{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 1em;
    .price{
      font-size: 40px;
      font-weight: bold;

      &.price-enquire{
        font-size: 32px;
        font-weight: bold;
      }
    }
  }
  ul.arrows{
    @include media-breakpoint-down(sm) {
      //padding-left: 0;
    }
    li::before {
      @include media-breakpoint-down(sm) {
        //padding-right: 5px;
      }
    }
  }
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  display: block;
}

.blog-list{
  .blog-list-vertical{
    margin-bottom:-30px;

    img{
      width:100%;
    }
    .blog-title{
      margin-top:0;
    }
    p.excerpt{
      font-weight: 300;
      margin-bottom: 2rem;
    }
  }
}
.h4.blog-title{
  line-height: $line-height-base;
  a{
    color: $headings-color;
    &:hover,&:active,&:focus{
      text-decoration: none;
      color: darken($headings-color, 15%);
    }
  }
}

.blog-title{
  overflow-x: hidden;
}

.wpcf7-validation-errors{
  @extend .alert;
  @extend .alert-warning;
}

.wpcf7-mail-sent-ok{
  @extend .alert;
  @extend .alert-success;
}

.search-form{
  float: right;
  .input-group{
    .search-field{
      border-top-left-radius: 0.375rem !important;
      border-bottom-left-radius: 0.375rem !important;
      border-right:0;
    }
    .input-group-append{
      .btn{
        border: 1px solid $gray-400;
        border-left: 0;
        padding: $input-padding-y $input-padding-x/2;
        color: $gray-700;
        border-top-right-radius: 0.375rem !important;
        border-bottom-right-radius: 0.375rem !important;
      }
    }
  }
}
.grecaptcha-badge {
  display: none !important;
}


.bg-computers{
  background-image: url('../images/bg-computers.jpg');
  background-position: top center;
  background-repeat: repeat;
}

.bg-design{
  background-image: url('../images/bg-design.jpg');
  background-position: top center;
  background-repeat: repeat;
}

.bg-bwp-blue-1{
  .btn-outline-white{
    &:hover{
      color: $bwp-blue-1 !important;
    }
  }
  &.bg-computers{
    .btn-outline-white{
      &:hover{
      }
    }
  }
}

#sectors-home-wrapper{
  padding-top: 75px;
  margin-top:-150px;
  @include media-breakpoint-down(sm) {
    margin-top:-75px;

  }
}

.lato-black{
  font-weight: 900 !important;
}

.vl {
  border-left: 2px solid $primary;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
}

#contacts-form-wrapper{
  form{
    input{

    }
  }
}
//a9a9a9

.sidebar{
  ul{
    list-style: none;
    padding-left: 1em;
    li{
      padding-bottom: 0.75em;
      a{
        color: inherit;
      }
    }
  }
}

.jumbotron {
  //padding: $jumbotron-padding ($jumbotron-padding / 2);
  .h1.text-white{
    //padding-top: $grid-gutter-width;
  }
  .header-meta{
    margin-top:10px;
  }
}

.contact-us-link{
  margin-right:10px;

  color: $white;
  .fas{
    font-size:28px;
    color: $white;
  }
}

.text-white{
  h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
    color: $white;

    span{
      color: #9f9e9e;
    }
  }
}

.bg-bwp-blue-1{
  ul{
    list-style: none;
    li{
      +li{
        margin-top:0.5em;
      }
    }
  }
}

.latesttit{
  font-weight: bold;
  font-size: 18px;
}




.wwd-text-bg {
  background-color: #fff;
  margin-bottom: 15px;
  padding:0 10px;
  //@media only screen and (max-width : $screen-sm-max) {
  //  min-height:500px;
  //}
  //@media only screen and (min-width : $screen-md-min) {
  //  min-height:540px;
  //}
  h4  {
    padding:20px 10px 5px 10px;
  }
  p {
    padding: 0 15px 15px 15px;
    line-height: 22px;
    font-size:14px;
  }
}
.wwd-text-bghp {
  background-color: transparent;
  margin-bottom: 15px;
  //@media only screen and (max-width : $screen-xs-min) {
  //  min-height:280px;
  //}
  p {
    padding: 0 15px 15px 15px;
    line-height: 22px;
    font-size:14px;
  }
}
.ourwk-text-bg  {
  background-color: #fff;
  margin-bottom: 15px;
  //padding:0 10px;
  min-height:380px;
  //@media only screen and (max-width : $screen-md-max) {
  //  min-height:375px;
  //}
  h4  {
    padding:20px 10px 5px 10px;
    font-family: $open-sans;
    font-weight: bold;
  }
  p {
    padding: 0 15px 15px 15px;
    line-height: 22px;
    font-size:14px;
    color: #4e4646;
  }
}
/* What We Do Child Page */
.client-work  {
  padding:15px 0px;
}

ul.wwd-tags {
  margin: 0 auto;
  padding: 25px 0px;
  list-style-type: none;
  text-align: center;
  white-space: nowrap;
  li {
    padding:5px 12px;
    display: inline;
    background-color: $gray-600;
    border-radius: 10px;
    margin-right:5px;
  }
  li.active {
    background-color: $bwp-blue-1;
    color:$white;
  }
  li:hover {
    background-color: $bwp-blue-1;
    color:$white;
  }
}

//@media only screen and (max-width : $screen-xs-max) {
//  ul.wwd-tags {
//    li {
//      width: 50%;
//    }
//  }
//}

#related-work-types {
  padding: 0 0 50px 0;
  .rel-feat-img {
    position: relative;
    a.imgcattag {
      position: absolute;
      bottom: 0;
      display: block;
      background-color: rgba(0, 0, 0, 0.8);
      background: rgba(0, 0, 0, 0.8);
      color: #ffffff;
      font-family: OpenSansRegular, Arial, Helvetica, sans-serif;
      font-weight: normal;
      font-size: 18px;
      line-height: 18px;
      padding: 8px 12px;
    }
  }
}

.link-telephone{
  color: inherit !important;
}