/* #Font-Face
================================================== */
/*@import "../fonts/opensans.css";*/
/* OpenSansLight OpenSansLightItalic OpenSansRegular OpenSansItalic OpenSansSemibold OpenSansSemiboldItalic OpenSansBold OpenSansBoldItalic OpenSansExtrabold OpenSansExtraboldItalic*/
.submitdelete {color : #a00;}
.submitdelete:hover{color: #f00;}

#posts-filter .view-switch{display: none;}

.slide_meta_control{
    overflow: visible;
}

th#slide-thumb{width:300px;}
th#tag-text-th{width:100px; word-break: keep-all;}

#misc-publishing-actions #visibility{
    display: none;
}

body.post-type-slide #post-body-content{
    margin-bottom: 0;
}

table textarea{resize: vertical;}

#slide-upload-td p.description{clear: both;}

#slide-preview{position: relative; display: block; clear: both; width: 100%; height: 100%; overflow: auto; overflow-x: hidden;overflow-y: hidden;
    /*font-size:1em;*/
    -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.5);
    max-width: 1170px;
}



#slide-preview .slideimg{
    width: 100%;
    height:auto;
    /*position: absolute;*/
    /*top:0;*/
    /*left:0;*/
    display: block;
    float: left;
    /*max-width: 1170px;*/

}
#slide-preview .slideimg.default-image{opacity: 1;}

#slide-preview .slide-tag{
    position: absolute;
    bottom:10%;
    left:0;
    width:50%;
    /*background: rgb(255,255,255);*/
    /*background: rgba(255,255,255,0.85);*/
    color: #ffffff;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*font-size:0.5vw;*/
}
#slide-preview .slide-tag.tagbox-right{
    /*text-align: right;*/
    right:0;
    left: auto;
    margin-left: 0em;
    margin-right: 3em;
}
#slide-preview .banner-title{
    font-size: 1.3845vw;
    line-height: 1;
    padding: 0.9vw 1.8823vw 0.9vw 1.8823vw;
    color: #ffffff;
}

/*#slide-preview .banner-text{*/
    /*font-family: "Open Sans", Arial, helvetica, sans-serif;*/
    /*font-size: 1.061vw;*/
    /*line-height: 1.3333;*/
    /*padding: 0vw 1.8823vw 0.9vw 1.8823vw;*/
    /*width: 65%;*/
    /*float:right;*/
    /*color: #208319;*/
/*}*/

#slide-preview .banner-desc{
    font-family: "Open Sans", Arial, helvetica, sans-serif;
    display: block;
    /*float: right;*/
}

#slide-preview .slide-tag a.btn-slide{
    background: #0159a3;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.7143em;
    line-height: 1;
    font-family: OpenSansBold, Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    padding: 1em 1.25em;
    margin:0 auto;
}


/*List Preview*/
#slide-preview .slide-tag{
    position: absolute;
    bottom:10%;
    left:0;
    width:100%;
    /*background: rgb(0,0,0);*/
    /*background: rgba(0,0,0,0.5);*/
    color: #ffffff;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size:3.5896px;
}
.slide_meta_control #slide-preview .slide-tag {
    font-size:14px;
}
#slide-preview .slide-tag .banner-title{
    font-size: 1.25em;
    line-height: 1;
    padding: 0.625em 0.9375em 0.5em 0.9375em;
    font-weight: bold;
}

#slide-preview .slide-tag{
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgb(255,255,255);*/
    /*background: rgba(255,255,255,0.85);*/
    background: transparent;
    color: #ffffff;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*font-size:0.5vw;*/
}
#slide-preview .slide-tag a{color: #ffffff;}
#slide-preview .slide-tag.tagbox-right{
    right:0;
    left: auto;
    margin-left: 0em;
    margin-right: 5%;
}
#slide-preview .banner-title{
    font-size: 0.5vw;
    line-height: 1;
    padding: 0.9vw 1.8823vw 0.9vw 1.8823vw;
    color: #ffffff;
    text-align: center;
}

#slide-preview .banner-text{
    font-family: "Open Sans", Arial, helvetica, sans-serif;
    color: #ffffff;
    font-size: 0.8em;
    line-height: 1.3333;
    padding: 0 1.25em 0.8333em 1.25em;
    text-align: center;
}


#slide-preview .banner-desc{
    font-family: "Open Sans", Arial, helvetica, sans-serif;
    line-height: 1.7143;
    display: block;
    padding: 0 2.1429em 2.1429em 2.1429em;
    text-align: left;
}

#slide-preview .slide-tag.tagbox-right .banner-title,
#slide-preview .slide-tag.tagbox-right .banner-text,
#slide-preview .slide-tag.tagbox-right .banner-desc{
    text-align: right;
}

#slide-preview .slide-tag .btn-slide{
    background: #0159a3;
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    line-height: 1;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    padding: 0.75em 1.5em;
    width:auto;
    margin:0px auto 0 auto;
    float: right;
}

.form-table label + label{margin-left: 1em;}
/*.list-preview .slide-tag{*/
    /*position: absolute;*/
    /*bottom:10%;*/
    /*left:0;*/
    /*width:100%;*/
    /*background: rgb(0,0,0);*/
    /*background: rgba(0,0,0,0.5);*/
    /*color: #ffffff;*/
    /*font-family: "Open Sans", Arial, Helvetica, sans-serif;*/
    /*text-align: right;*/
    /*font-size: 0.25em;*/
/*}*/

/*.list-preview .slide-tag .banner-title{*/
    /*font-size: 2.2857em;*/
    /*line-height: 1;*/
    /*padding: 0.625em 0.9375em 0.5em 0.9375em;*/
/*}*/
/*.list-preview .slide-tag .banner-text{*/
    /*font-family: OpenSansLightItalic, Arial, helvetica, sans-serif;*/
    /*font-style: italic;*/
    /*font-size: 1.7143em;*/
    /*line-height: 1.3333;*/
    /*padding: 0 1.25em 0.8333em 1.25em;*/
    /*width: 70%;*/
    /*float:right;*/
/*}*/
.post-type-slide tbody#the-list tr.status-draft{
    background-color: #FFCCCC;
}
