/* General Field CSS */

.my_meta_control .description
{ /*display:none;*/  }
.my_meta_control label
{ display:block; font-weight:600; font-size:15px; margin-bottom:0; margin-top:12px; }

.my_meta_control label span
{ display:inline; font-weight:normal; }

.my_meta_control span
{ color:#000; display:block; margin-bottom:6px;}
.my_meta_control span em
{ color:#999; display:block; margin-bottom:6px;}


.my_meta_control textarea
{ margin-bottom:3px; width:99%; }

.my_meta_control input[type='text']
{ margin-bottom:3px; width:80%; }

.my_meta_control h4
{ color:#999; font-size:1em; margin:15px 6px; text-transform:uppercase; }

/*input  {*/
    /*width:100%;*/
/*}*/

textarea  {
    width:100%;
    min-height:120px;
}
.spacer  {
    border-bottom:1px solid #000;
}

/* START Slider / Banner CSS */

.default-image,.slideimg {
    width:100%;
    margin:0 auto;
    display: block;
    /*padding:20px 0px;*/
}

.submitdelete{
    color: #a00;
    text-decoration: none;
}
.submitdelete:hover{
    color: red;
    text-decoration: none;
    border: 0;
}

.banner_meta_control{
    overflow: visible;
}

th#banner-thumb{width:300px;}
th#tag-text-th{width:100px; word-break: keep-all;}

body.post-type-banner #post-body-content{
    margin-bottom: 0;
}

table textarea{resize: vertical;}

#banner-upload-td p.description{clear: both;}

#banner-preview{
    position: relative; display: block; clear: both; width: 100%; height: 100%; overflow: auto; overflow-x: hidden;overflow-y: hidden;
    /*font-size:1em;*/
    -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.5);
    max-width: 1170px;
    /*float: right;*/
    clear: both;
}

#banner-preview.hidden, .form-table.hidden{
    display: none;
}

#banner-preview .bannerimg{
    width: 100%;
    height:auto;
    /*position: absolute;*/
    /*top:0;*/
    /*left:0;*/
    display: block;
    float: left;

}
#banner-preview .bannerimg.default-image{opacity: 0.75;}

#banner-preview .banner-tag{
    position: absolute;
    bottom:0;
    right:0;
    width:50%;
    height:100%;


    color: #333333;
    font-family: OpenSansLight, Arial, Helvetica, sans-serif;
    text-align: right;
    padding-right: 0px;
    /*font-size:0.5vw;*/
    font-size: 18px;
    line-height: 1.5556;
    display: table;
}
#banner-preview .banner-tag.hidden{
    display: none;
}
#banner-preview .banner-tag.clear-bg{
    background: transparent;
}
#banner-preview .banner-tag .middle{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    position: static;
}
#banner-preview .banner-title{
    font-family: OpenSansSemibold, Arial, helvetica, sans-serif;
    font-size: 1.2vw;
    line-height: 1;
    padding: 0 2.25vw 0.5em 0;
    color: #006a53;
    text-align: left;
    float:right;
    width: 83%;
}
#banner-preview.page-sap .banner-title{
    color: #024186;
}
#banner-preview .banner-text{
    font-size: 1vw;
    line-height: 1.3333;
    padding: 0 2.25vw 0 0;
    width: 83%;
    float:right;
    text-align: justify;
}

ul.sub-cats{
    margin-top:0;
}

/* END Slider / Banner CSS */
