#_listing_meta_metabox .my_meta_control .description
{
    display:block;
}

#_listing_meta_metabox .my_meta_control label{
    margin-top:0;
}
.my_meta_control label
{ display:block; font-weight:bold;
    /*margin:6px; margin-bottom:0; margin-top:12px;*/
}
 
.my_meta_control label span
{ display:inline; font-weight:normal; }
 
.my_meta_control span
{ color:#999; display:block; }
 
.my_meta_control textarea, .my_meta_control input[type='text'] {
    margin-bottom: 3px;
    /*width:99%; */
}
 
.my_meta_control h4
{ color:#999; font-size:1em; margin:15px 6px; text-transform:uppercase; }

.thumb-gallery{
	
}

.admin-thumb{
	display:inline-block;
	vertical-align:middle;
	
	*zoom:1;
	*display:inline;
	margin:3px;
}

.my_meta_control td.cost-from{
    position: relative;
}
.my_meta_control td.cost-from span.pound{
    font-weight:bold;
    color:#444;
    position: absolute;
    top:20px; left: 10px;
}
.my_meta_control td.cost-from input{
    margin-left: 15px;
    width: 25%;
}
.my_meta_control .description a{
    word-break: break-all;
}
