/* Back to top button */
#back-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin:0;
  z-index:9900;
  a {
    text-decoration: none;
    i {
      width: 50px;
      height: 50px;
      //  height: 55px;
      border-radius: 25px;
      display: block;
      background: $primary;
      opacity: 0.4;
      color: $white;
      text-decoration: none;
      text-align: center;
      line-height: 50px;

      //        -webkit-transition: 0.5s;
      //        -moz-transition: 0.5s;
      //        transition: 0.5;
      @include transition-duration(0.5s);
    }
    &:hover {
      i {
        opacity: 0.8;
        //          background-color: transparent ;
        //        color: $brand-primary;
        text-decoration: none;
      }
    }
  }
}