#home-page-slider{
  position: relative;
  overflow:hidden;
  img{
    //    height:100%;
    //    width: auto;
    position: relative;
    overflow:hidden;
  }
  // Mobile Fixes
  @media only screen and (max-width: 1200px) {
    img {
      //      width: 1300px;
      width: auto;
      min-height: inherit;
      background-size: cover;
      height: 500px;
      overflow: visible;
      left: 0;
      margin-left: 0;
      position: relative;
      max-width: none;
      display: block;
    }
  }
  .banner-tag{
    position: absolute;
    bottom:0;
    //  right:15px;
    left:0;
    width:100%;
    height:400px;
    color: $white;
    font-family: $roboto;
    text-align: center;
    //  padding-right: 20px;
    /*font-size:0.5vw;*/
    font-size: 28px;
    line-height: 48px;
    font-weight: 300;
    display: table;
    @media only screen and (max-width : 1580px) {
       height:350px;
    }
    @include media-breakpoint-down(sm) {
      height:410px;
    }
  }
  .banner-tag.clear-bg{
    background: transparent;
  }
  .banner-tag .middle{
//    display: table-cell;
//    vertical-align: middle;
    width: 100%;
    position: static;
    .inner{
      background: transparent;
      overflow: auto;
      overflow-x: hidden;
      overflow-y: hidden;
      //padding: $grid-gutter-width;
      //@media only screen and (max-width : $screen-xs-max) {
      //  padding: $grid-gutter-width/3;
      //}
    }
  }
  .banner-title{
    font-family: $roboto;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.1667;
    padding: 0em 0px 0.125em 0;
    color: $white;
    //float:none;
    text-align: center;
    display: block;
    clear: both;
    width:100%;
    //@media only screen and (max-width : $screen-lg) {
    //  font-size: 32px;
    //}
    //@media only screen and (max-width : $screen-sm-max) {
    //  padding: 0 10px 0 10px;
    //  font-size: 28px;
    //}
    //@media only screen and (max-width : $screen-xs-max) {
    //  padding: 0 10px 0 10px;
    //  font-size: 22px;
    //}
  }
  .banner-text{
    font-family: $roboto;
    font-weight: 300;
    padding: 0em 0px 0em 0;
    //float:left;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    //@media only screen and (max-width : $screen-lg) {
    //  font-size: 20px;
    //}
    //@media only screen and (max-width : $screen-sm-max) {
    //  padding: 0 10px 0 10px;
    //  font-size: 16px;
    //}
    //@media only screen and (max-width : $screen-xs-max) {
    //  padding: 0 10px 0 10px;
    //  font-size: 13px;
    //}
     //  @media only screen and (max-width : $screen-xs-max) {
    //    display: none;
    //  }
  }
  .banner-btn  {
    padding-top:30px;
    //@media only screen and (max-width : $screen-sm-max) {
    //  padding-top:20px;
    //}
  }
  // btns
  //@media only screen and (max-width : $screen-sm-max) {
  //  .btn-clear   {
  //    font-size:16px;
  //  }
  //  .btn-grn  {
  //    font-size:18px;
  //  }
  //}
  //@media only screen and (max-width : $screen-xs-max) {
  //  .btn-clear   {
  //    min-width:75% !important;
  //    font-size:14px;
  //    margin-bottom:10px;
  //    padding:10px !important;
  //  }
  //  .btn-grn  {
  //    min-width:75% !important;
  //    font-size:14px;
  //    padding:10px !important;
  //  }
  //}
}



/*banner*/
//#home-page-slider{
//  width: 100%;margin:0 auto; padding: 0;overflow: hidden;
//}
//ul.homepage-slider{
//  margin:0; padding: 0;
//}
//#home-page-slider .bx-wrapper{
//  width: 100%;
//}
//#home-page-slider .bx-wrapper .bx-viewport{
//  overflow: visible !important;
//}
//#home-page-slider ul li a:link,
//#home-page-slider ul li a:hover,
//#home-page-slider ul li a:hover div,
//#home-page-slider ul li a:hover .banner-title,
//#home-page-slider ul li a:hover .banner-text,
//#home-page-slider ul li a:hover .banner-tag{
//  text-decoration: none !important;}
//
//
//#home-page-slider .bx-wrapper .bx-pager.bx-default-pager a {
//  background: #c7c7c7;
//}
//#home-page-slider .bx-wrapper .bx-pager.bx-default-pager a:hover{background:#999999}
//#home-page-slider .bx-wrapper .bx-pager.bx-default-pager a.active {background:$color-cp-blue;}
//
//#home-page-slider .slide-tag{
//  position: absolute;
//  bottom:10%;
//  left:0;
//  width:100%;
//  background: rgb(0,0,0);
//  background: rgba(0,0,0,0.5);
//  color: #ffffff;
//  font-family: OpenSansRegular, Arial, Helvetica, sans-serif;
//  text-align: right;
//  font-size:1em;
//}
//#home-page-slider .slide-tag .banner-title{
//  font-size: 2.8571em;
//  line-height: 1;
//  padding: 0.625em 0.75em 0.5em 0.75em;
//}
//
//
//
//
//#home-page-slider .slide-tag{
//  position: absolute;
//  bottom:10%;
//  left:0;
//  width:45%;
//  background: rgb(255,255,255);
//  background: rgba(255,255,255,0.85);
//  color: #333333;
//  font-family: OpenSansRegular, Arial, Helvetica, sans-serif;
//  text-align: center;
//  margin-left: 5%;
//  /*font-size:0.5vw;*/
//}
//#home-page-slider .slide-tag a{color: #333333;}
//#home-page-slider .slide-tag.tagbox-right{
//  right:0;
//  left: auto;
//  margin-left: 0em;
//  margin-right: 5%;
//}
//#home-page-slider .banner-title{
//  font-family: $font-family-sans-serif-titles;
//  font-weight: 300;
//  font-size: 48px;
//  line-height: 1;
//  padding: 0.9vw 1.8823vw 0.9vw 1.8823vw;
//  color: $color-white;
//  text-align: left;
//}
//#home-page-slider .banner-text{
//  font-family: $font-family-sans-serif-titles;
//  font-weight: 300;
//  color: $color-white;
//  font-size: 24px;
//  line-height: 1.5;
//  padding: 0 1.25em 0.8333em 1.25em;
//  text-align: left;
//}
//
//
//#home-page-slider .banner-desc{
//  font-family: $font-family-sans-serif-titles;
//  font-weight: 300;
//  color: $color-white;
//  line-height: 1.7143;
//  display: block;
//  padding: 0 2.1429em 2.1429em 2.1429em;
//  text-align: left;
//}
//
//#home-page-slider .slide-tag.tagbox-right .banner-title,
//#home-page-slider .slide-tag.tagbox-right .banner-text,
//#home-page-slider .slide-tag.tagbox-right .banner-desc{
//  text-align: right;
//}
#clients-logo-carousel{
  #customNavContainer{
    margin-top: -100px;
    width: 100%;
  }
  .owl-prev{
    float:left;
  }
  .owl-next{
    float: right;
  }
  .owl-prev,
  .owl-next{
    @extend .btn;
    @extend .btn-link;
    .fas{
      font-size: 48px;
      color: #dfdfe1;
    }
  }
}
