


/***************************/

.navbar-default {
  background-color: transparent;
  border:0px !important;
  font-size:16px;
  font-family: $lato;
}
.navbar {
  margin:0px !important;
}

@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 65px;
  }
}
.navbar-default .navbar-nav > li > a {
  color:#1d1d1b;
  font-weight:bold;
  padding-top:40px;
  padding-bottom:40px;
}
.navbar-nav {
  > li {
    position: relative;
  }
  > li > a {
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.6s;
    color:#1d1d1b;
    &:hover,
    &:focus {
      color: #1d1d1b;
      background-color: $white !important;
      border-bottom: 4px solid $primary;
    }
  }
  > .active > a {
    &,
    &:hover,
    &:focus {
      color: #1d1d1b;
      background-color: $white !important;

    }
  }
  > .disabled > a {
    &,
    &:hover,
    &:focus {
      color: #1d1d1b;
      background-color: $white !important;
    }
  }
}
.navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-default .navbar-toggle {
  margin: 20px 0px 20px 20px;
  padding:  20px;
  border: none;
  border-radius: 0;
  height: 60px;
  text-align: center;
  background: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background: $black;
  font-weight: bold;
}

/* Mobile Nav */

/* Mobile Hamburger */


.navbar-toggle {
  border: none;
  position:absolute;
  background: transparent !important;
  top:25px;
  right:5px;
  z-index:9999;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.55s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    background-color: $white !important;
  }
  .middle-bar {
    opacity: 0;
    background-color: $white;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    background-color: $white;
  }

  &.collapsed {
    .top-bar {
      transform: rotate(0);
      background-color: $black !important;
    }
    .middle-bar {
      opacity: 1;
      background-color: $black;
    }
    .bottom-bar {
      transform: rotate(0);
      background-color: $black;
    }
  }
}

#menu {
  z-index: 999;
  font-size: 16px;
  width: 100%;
  background: $primary;
  position: absolute;
  text-align: left;
  height: auto;
  ul {
    margin: 0;
    padding-top:15px;
    padding-bottom:20px;
    list-style-type: none;
    list-style-image: none;
    li a {
      text-decoration: none;
      color: $white;
      &:hover {
        color: $white;
        text-decoration: none;
      }
    }
  }
  li {
    display: block;
    padding: 20px 0;
    &:hover {
      display: block;
    }
  }
  a {
    text-decoration: none;
    color: $white;
    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
}
@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}






.navbar-default {
  background-color: transparent;
  border:0px !important;
  font-size:16px;
  font-family: $lato;
}
.navbar {
  margin:0px !important;
}

@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 65px;
  }
}
.navbar-default .navbar-nav > li > a {
  color:#1d1d1b;
  font-weight:bold;
  padding-top:40px;
  padding-bottom:40px;
}
.navbar-nav {
  > li {
    position: relative;
  }
  > li > a {
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.6s;
    color:#1d1d1b;
    &:hover,
    &:focus {
      color: #1d1d1b;
      background-color: $white !important;
      border-bottom: 4px solid $primary;
    }
  }
  > .active > a {
    &,
    &:hover,
    &:focus {
      color: #1d1d1b;
      background-color: $white !important;

    }
  }
  > .disabled > a {
    &,
    &:hover,
    &:focus {
      color: #1d1d1b;
      background-color: $white !important;
    }
  }
}
.navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-default .navbar-toggle {
  margin: 20px 0px 20px 20px;
  padding:  20px;
  border: none;
  border-radius: 0;
  height: 60px;
  text-align: center;
  background: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background: $black;
  font-weight: bold;
}

/* Mobile Nav */

/* Mobile Hamburger */

.navbar-toggle {
  border: none;
  position:absolute;
  background: transparent !important;
  top:25px;
  right:5px;
  z-index:9999;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.55s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    background-color: $white !important;
  }
  .middle-bar {
    opacity: 0;
    background-color: $white;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    background-color: $white;
  }

  &.collapsed {
    .top-bar {
      transform: rotate(0);
      background-color: $black!important;
    }
    .middle-bar {
      opacity: 1;
      background-color: $black;
    }
    .bottom-bar {
      transform: rotate(0);
      background-color: $black;
    }
  }
}

#menu {
  z-index: 999;
  font-size: 16px;
  width: 100%;
  background: $primary;
  position: absolute;
  text-align: left;
  height: auto;
  ul {
    margin: 0;
    padding-top:15px;
    padding-bottom:20px;
    list-style-type: none;
    list-style-image: none;
    li a {
      text-decoration: none;
      color: $white;
      &:hover {
        color: $white;
        text-decoration: none;
      }
    }
  }
  li {
    display: block;
    padding: 20px 0;
    &:hover {
      display: block;
    }
  }
  a {
    text-decoration: none;
    color: $white;
    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
}
@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}


