$open-sans: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$monty: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
$roboto: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
$roboto-slab: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
$lato: 'Lato', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
