#footer{
  color: #dfdfdf;
  font-size: 0.8889em;
  a{
    color: inherit;
    &:hover,
    &:active,
    &:focus{
      color: lighten(#dfdfdf,50);
    }
  }
  .menu-inline-links{
    a{
      color: inherit;
      &:hover,
      &:active,
      &:focus{
        color: lighten(#dfdfdf,50);
      }
    }
  }
  .menus-contacts-wrapper{
    font-family: $lato;
    .footer-address{
      line-height: $line-height-base+1rem;
      margin-top:-($font-size-base/2);
    }
    .contacts-wrapper{
      a{
        font-weight: 400;
      }
    }
    a{
    }
  }
  .footer-socials-wrapper{
  }
  .footer-blurb-wrapper{
    .footer-blurb{
      color: #dfdfdf;
      font-size: 1em !important;
      font-family: $lato;
    }
  }
  //.border,
  //.border-top,
  //.border-right,
  //.border-bottom,
  //.border-left{border-color: #4b4b4b;}
}
