.btn-free-trial{
  @include media-breakpoint-down(md) {
    //display: inline-block;
    //width:60%;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    margin-top: 0px;
    clear: both;
    float: right;
  }
  + .btn-free-trial{
    @include media-breakpoint-down(md) {
      margin-top: 5px;
    }
    @include media-breakpoint-down(sm) {
      float: none;
      margin-top: -8px;
    }
  }
  @include media-breakpoint-down(sm) {
    margin-top: -15px;
  }
}

#header-wrap{
  margin-bottom: -111px;
  z-index: 1000;
  img.logo{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  a.btn + a.btn{
    margin-left: 0;
  }
}
.nav-mob{
  z-index: 999 !important;
  height: 0 !important;
  #menu{
    #headmenu{
      width:100%;
      #mobmenu{
        padding: $grid-gutter-width*2 !important;
        padding-top: 111px !important;
        padding-right: 0 !important;
      }
    }
  }
}
