.menu-inline-links{
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-weight: inherit;
  li{
    display: inline;
    a{
      text-decoration: none;
      &:hover,
      &:active,
      &:focus{
        text-decoration: underline;
      }
    }
  }
}

.footer-links {
  list-style-type: none;
  margin:0; padding: 0;
  font-family: $lato;
  font-weight: normal;
  li {
    color: inherit;
    font-size:1em;
    line-height: inherit;
    margin-bottom: 1rem;
    a{
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
