// Styling
.navbar-default {
  background-color: transparent;
  border:0 !important;
  font-size:16px;
  font-family: $lato;
  font-weight: 500;
  text-transform: uppercase;
}

// active state no dropdown
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: $primary;
  color: $primary !important;
  font-size:16px;
}

.navbar {
  margin:0;
  font-size:16px;
  min-height: 40px !important;
  .dropdown-menu {
    background-color: $primary;
    min-width:200px;
    border:1px solid #f0f0f0;
    padding:0;
    border-radius: 0 !important;
    .dropdown-menu  {
      left:-300px;
      top:-3px;
      width:220px;
      // || Hide the left arrow on third tier ||
      .fa  {
        display:none !important;
      }
    }
  }
  .dropdown-menu > li > a  {
    padding:10px 20px;
    font-weight: 500;
  }
  .dropdown-menu > li > a:hover  {
    background-color: #eee;
  }
}
.navbar-default .navbar-nav > li > a {
  color: $primary;
  //  padding-top:40px;
  //  padding-bottom:40px;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  .active > a {
    &,
    &:hover,
    &:focus {
      color: $primary;
    }
  }
}
.navbar-collapse  {
  padding-left:0 !important;
}
.navbar-default .navbar-nav > li > a:hover  {
  color:$primary;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #eee;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color:  #eee;
  color: inherit;
}


// Caret rules
.arrw  {
  display:none !important;
}
.menu-item-has-children {
  .arrw {
    display: inline !important;
    padding-left:10px;
  }
}
.navbar-left{
  .dropdown-menu  {
    .arrw  {
      display: none !important;
    }
    /* || Right Arrow ||*/
    .fa-angle-down:before {
      content: "\f105" !important;
      vertical-align: middle;
    }
    .menu-item-has-children {
      .arrw {
        float: right;
        display: inline-block !important;
        line-height: 1.5;
        position: absolute;
        top:10px;right:20px;
      }
    }
    .dropdown-menu {
      left: auto;
      right: -300px;
    }
  }
}
.navbar-right{
  .dropdown-menu  {
    .arrw  {
      display: none !important;
    }
    /* || Left Arrow ||*/
    .fa-angle-down:before {
      content: "\f104" !important;
      vertical-align: middle;
    }
    .menu-item-has-children {
      .arrw {
        float: right;
        display: inline-block !important;
        line-height: 1.5;
        position: absolute;
        top:10px;right:20px;
      }
    }
  }
}

.dropdown-submenu {
  .menu-item {
    .arrw {
      display: none !important;
    }
  }
}
// -end
#menu #mobmenu{
  padding-top: $grid-gutter-width;
}
/* Navarb Toggle */
.navbar-toggle {
  border: none;
  position:relative;
  background: transparent !important;
  top:0px;
  right:0px;
  z-index:9999;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.55s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    background-color: #fff !important;
  }
  .middle-bar {
    opacity: 0;
    background-color: #fff;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    background-color: #fff;
  }

  &.collapsed {
    .top-bar {
      transform: rotate(0);
      background-color: #fff !important;
    }
    .middle-bar {
      opacity: 1;
      background-color: #fff;
    }
    .bottom-bar {
      transform: rotate(0);
      background-color: #fff;
    }
  }
}
// || Mobile mobile menu styles ||
#menu {
  z-index: 9990;
  font-size: 16px;
  width: 100%;
  background: $primary;
  position: absolute;
  text-align: left;
  height: auto;
  ul {
    margin: 0;
    padding-top:15px;
    padding-left:0;
    padding-bottom:20px;
    list-style-type: none;
    list-style-image: none;
    li a {
      text-decoration: none;
      padding-left:40px;
      color: $primary;
      &:hover {
        color: $primary;
        text-decoration: none;
      }
    }
  }
  li {
    display: block;
    min-width:100%;
    padding: 12px 0;
    &:hover {
      display: block;
    }
  }
  a {
    text-decoration: none;
    color: $primary;
    &:hover {
      text-decoration: none;
      color: $primary;
    }
    &:focus {
      background-color: transparent !important;
    }
  }
  .dropdown-menu {
    margin:20px 0;
    border:0;
    box-shadow:0 !important;
    background-color: #000;
    min-width: 100%;
    position: relative;
    height: auto;
    padding-top:0 !important;
    padding-bottom:0 !important;
    > li > a {
      padding:0 0 0 60px !important;
      width:100%;
    }
    > li > a:hover {
      background-color: transparent;
    }
  }
  .angle  {
    float: right !important;
    margin-right:20%;
    vertical-align: bottom !important;
  }
}

// || Mobile cart rules ||
@include media-breakpoint-down(lg) {
//@media only screen and (max-width : $screen-md-max) {
  #menu {
    .fa  {
      color:$primary;
      padding-right:35px;
    }
    .fa {
      display: none !important;
    }
    .menu-item-has-children {
      .fa {
        display: block !important;
        float: right;
      }
    }
    .sub-menu {
      display: none !important;
      padding-left:10px;
      font-size:14px !important;
      .fa {
        display: none !important;
      }
      .menu-item {
        .fa {
          display: none !important;
        }
      }
      .menu-item-has-children {
        .fa {
          display: block !important;
        }
      }
      .sub-menu {
        .fa {
          display: none !important;
        }
        .menu-item {
          .fa {
            display: none !important;
          }
        }
      }

    }
    .active {
      display: block !important;
    }
  }
}
// early mobile collapse
@include media-breakpoint-down(sm) {
//@media only screen and (max-width : $screen-sm-max) {
  .navbar {
    padding-left: 0px;
  }
  .navbar-header {
    float: none;
    border: 0px;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {

  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    border: 1px solid #dadada;
    padding-bottom: 5px;
    background-color: #f9f9f9;
  }
  .collapse.in {
    display: block !important;
  }
}
// end early mobile collapse

// || Make dropdown appear on hover - md upwards
@include media-breakpoint-up(md) {
//@media only screen and (min-width : $screen-md-max) {
  .dropdown-menu {
    min-width: 300px !important;
  }
  // main parent hover
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
  // submenu hover
  .dropdown-submenu:active>.dropdown-menu, .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }
}

.dropdown:hover > .dropdown-menu {
  display: block;
}
//.dropdown > .dropdown-toggle:active {
//  /*Without this, clicking will make it sticky*/
//  pointer-events: none;
//}