.navbar {
  padding: 0;
  margin-bottom:-1px;

  .dropdown{
    .dropdown-toggle{
      //background-color: #f00;
      //&::after{
      //  content: "YYYYY" !important;
      //
      //}
    }
  }

  .dropdown-toggle:after{
    border: none !important;
    display: inline-block;
    position: relative;
    margin-left: 0.5em;
    top: 0;
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    vertical-align: 0;
  }
  .dropdown-menu {
    //background-color: $primary;
    min-width:200px;
    //border:1px solid #f0f0f0;
    padding:0;
    border-radius: 0 !important;
    margin:0;
    //margin-top: 1px;
    .dropdown-menu  {
      left:-300px;
      top:-3px;
      width:220px;
      // || Hide the left arrow on third tier ||
      .fa  {
        display:none !important;
      }
    }
  }
  .dropdown-menu > li > a  {
    padding:10px 20px;
    font-weight: 500;
  }
  .dropdown-menu > li > a:hover  {
    background-color: #eee;
  }

  .navbar-nav {
    > li {
      position: relative;
    }
    > li > a {
      color: $primary;
      font-family: $roboto;
      font-weight: 600;
      padding-top: 41px;
      padding-bottom: 36px;
      text-transform: uppercase;
      &.nav-link{
        padding-left: 18px;
        padding-right: 18px;
        @include media-breakpoint-down(md) {
          padding-left: 9px;
          padding-right: 9px;
        }
      }
      &:hover,
      &:focus {
        color: $white;
        background-color: $primary !important;
      }
      &.dropdown-toggle::after{
        //display: none;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $white;
        background-color: $primary !important;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $white;
        background-color: $primary !important;
      }
    }
  }
}

.navbar-toggler {
  //padding-right: 0;
}













/* Hamburger */
.navbar-toggler {
  border: none;
  //position:absolute;
  background: transparent !important;
  //top:30px;
  //right:5px;
  z-index:9999;
  &:hover {
    background: transparent !important;
    border: 0 !important;
  }

  .icon-bar {
    width: 30px;
    transition: all 0.55s;
    border:2px solid #ffffff;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    background-color: #ffffff !important;
    border:2px solid #ffffff;
  }
  .middle-bar {
    opacity: 0;
    background-color: #ffffff;
    border:2px solid  #ffffff;

  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    background-color:  #ffffff;
    border:2px solid  #ffffff;
  }
  &.collapsed {
    .top-bar {
      transform: rotate(0);
      background-color: #ffffff !important;
    }
    .middle-bar {
      opacity: 1;
      background-color: #ffffff;
    }
    .bottom-bar {
      transform: rotate(0);
      background-color: #ffffff;
    }
  }
}
#menu {
  // Start mobile menu styles
  z-index: 9999;
  font-size: 23px;
  line-height: 1;
  width: 100%;
  background: $primary;
  position: absolute;
  text-align: left;
  //height: auto;
  hr  {
    color:$white;
    width:80%;
    margin:0 auto;
  }
  ul {
    margin: 0;

    padding-left:0;
    padding-bottom:20px;
    list-style-type: none;
    list-style-image: none;
    ul{
      padding-top:0;
      margin-top:0;
      padding-bottom:0;
    }
    li.lined{
      margin-left: 15px;
      border-top:1px $white solid;
      margin-top: 15px;
      padding-bottom: 15px;

    }
    li a {
      font-family: $lato;
      //font-weight: 600;
      //text-transform: uppercase;
      padding:15px;
      display: inline-block;
      color: $white;
      &:hover {
        color: $white;
        text-decoration: none;
      }
      &.telephone-link{
        display: block;
        span{
          display: block;
        }
      }
    }
  }

  li {
    //display: block;
    //min-width:100%;
    //padding: 12px 0;
    margin-left:30px;
    margin-right:30px;
    text-align: center;
    &:hover {
      //display: block;
    }
  }
  a {
    text-decoration: none;
    color: $white;
    &:hover {
      text-decoration: none;
      color: $white;
    }
    &:focus {
      background-color: transparent !important;
    }
  }

  .caret  {
    float: right !important;
    margin-right:20%;
    vertical-align: bottom !important;
  }
  // End mobile menu styles
}


/// show mobile toggle rules
//@include media-breakpoint-down(lg){
  #menu {
    .fa  {
      color:$white;
      padding-right:35px;
    }
    .fa {
      display: none !important;
    }
    .menu-item-has-children {
      .fa {
        display: inline-block !important;
        float: none;
        position: relative;
        font-size: 24px;
        top: 3px;
      }
    }
    .sub-menu {
      display: none !important;
      padding-left:$grid-gutter-width*1.5;
      //background-color: darken($primary,10);
      //font-size:16px !important;
      li{
        a{
          display: block;
          color: #d5d5d5 !important;
          //line-height: 36px;
          padding: 12px !important;
        }
      }
      .fa {
        display: none !important;
      }
      .menu-item {
        .fa {
          display: none !important;
        }
      }
      .menu-item-has-children {
        .fa {
          display: block !important;
        }
      }
      .sub-menu {
        .fa {
          display: none !important;
        }
        .menu-item {
          .fa {
            display: none !important;
          }
        }
      }

    }
    .active {
      display: block !important;
    }
  }

//}


// Make dropdown appear on hover - md upwards
//@include media-breakpoint-down(lg){
  .dropdown-menu {
    min-width: 280px !important;
  }
  // main parent hover
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
  // submenu hover
  .dropdown-submenu:active>.dropdown-menu, .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }

  #header-wrap{
    .col-sm-7.text-center.d-none.d-md-block{
      padding-left: 0;
    }
  }
  .navbar .navbar-nav > li > a{
    font-size: 14px;
    padding-top: 21px;
    padding-bottom: 16px;
  }
  .navbar.navbar-expand-md{
    .container{
      padding-left: 0;
      padding-right: 0;
    }
  }
//}
//@include media-breakpoint-down(lg) {
  //.menu-item-home{
  //  display: none;
  //}
//}


.dropdown:hover > .dropdown-menu {
  display: block;
}
//.dropdown > .dropdown-toggle:active {
//  /*Without this, clicking will make it sticky*/
//  pointer-events: none;
//}


#mobmenu{
  li{
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    a{

    }
  }
}