#work-tags  {
  padding:0px 0px 35px 0px;
}

//ul.work-tags {
//  margin: 0;
//  list-style-type: none;
//  text-align: center;
//  li {
//    padding:5px 15px;
//    display: inline;
//    background-color: #c5c5c5;
//    border-radius: 10px;
//    color:$white;
//    margin-right:5px;
//  }
//  li.active {
//    background-color: $bwp-blue-1;
//    color:$white;
//  }
//  li:hover {
//    background-color: $bwp-blue-1;
//    color:$white;
//  }
//}

ul.work-tags {
  margin: 0; padding: 0;
  list-style-type: none;
  text-align: center;
  li {
    display: inline;
    a{
      color: $white;
      padding:5px 15px;
      display: inline-block;
      background-color: #c5c5c5;
      border-radius: 10px;
      margin:5px;
      text-decoration: none;
      &:hover{
        background-color: darken(#c5c5c5,10);
        color:$white;
        text-decoration: none !important;
      }
    }
  }
  li.active {
    a{
      background-color: lighten($primary,20);
      color:$white;
    }
  }

}

#ow-pgfeed{
  a{
    text-decoration: none;
    &:hover{
      text-decoration: none !important;
    }
  }
  .ow-feat-img{
    position: relative;
    a.imgcattag {
      position: absolute;
      bottom: 0;
      display: block;
      background-color: rgba(0, 0, 0, 0.8);
      color: #ffffff;
      font-family: OpenSansRegular, Arial, Helvetica, sans-serif;
      font-weight: normal;
      font-size: 18px;
      line-height: 18px;
      padding: 8px 12px;
    }
  }
}
//.ow-childpage-slide  {
//  max-height: 740px;
//  width:100%;
//  padding-bottom:15px;
//}

.ourwk-text-bg {
  background-color: $white;
  margin-bottom: 15px;
  //padding: 0 10px;
  padding: 0;
  min-height: 380px;
}



/* Our Work Single */
#ourwork-content   {
  padding:30px 0px;
  h4  {
    line-height:30px;
  }
}
#our-work-artb  {
  padding-bottom:25px;
  strong  {
    font-size:22px;
    line-height:45px;
  }
  span   {
    color:#686868;
    font-size:16px;
  }
}
#related-projects  {
  padding:30px 0px;
  .rel-feat-img {
    position: relative;
    margin-bottom:15px;
    .imgcattag {
      position: absolute;
      bottom: 0;
      display: block;
      background-color: rgba(0, 0, 0, 0.8);
      background: rgba(0, 0, 0, 0.8);
      color: #ffffff;
      font-family: OpenSansRegular, Arial, Helvetica, sans-serif;
      font-weight: normal;
      font-size: 18px;
      line-height: 18px;
      padding: 8px 12px;
    }
  }
}

.text-lightgray{
  color: #888888;//494848
  margin-bottom: 0;
  span{
    color: #3d3d3d;
  }
}
.title-brief{
  margin-bottom: 0;
}