.owl-carousel.owl-theme{
  .owl-dots{
    .owl-dot{
      span{
        background: $gray-600;
      }
    }
  }
}
.owl-carousel.owl-theme{
  .owl-dots{
    .owl-dot.active,
    .owl-dot:hover{
      span{
        background: $primary;

      }
    }
  }
}

#testimonials-carousel{

}