.pagination {
  margin-bottom: 0;
  font-family: $open-sans;
  font-size: 17px;
  font-weight: 700;
  li{
    a.page-link{
      //border-radius: 0 !important;
      border:none;
      position: relative;
      display: block;
      padding: $pagination-padding-y $pagination-padding-x;
      color: $pagination-color;
      background-color: $pagination-bg;


      &:hover, &:focus {
        color: $pagination-hover-color;
        text-decoration: none;
        background-color: $pagination-hover-bg;
      }
    }
    &.active{
      a{

      }
    }
  }
}

.pagination-showing{
  span{
    margin-bottom: 0;
  }
}