#work-tags  {
  padding:15px 0px 15px 0px;
}


ul.work-tags {
  margin: 0; padding: 0;
  list-style-type: none;
  text-align: center;
  li {
    display: inline;
    a{
      color: $white;
      padding:5px 15px;
      display: inline-block;
      background-color: $primary;
      border-radius: 10px;
      margin:5px;
      &:hover{
        background-color: darken($primary,10);
        color:$white;
        text-decoration: none;
      }
    }
  }
  li.active {
    a{
      background-color: lighten($primary,20);
      color:$white;
    }
  }

}

.resource-feat-img{
  position: relative;
  .fa-play-circle{
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -40px;
    margin-left: -40px;
    font-size: 80px;
    color: $white;
    opacity: 0.5;
  }
}
