.header-socials{
  //height:2.4286em;
  height:3.5714em;
  font-size: 18px;
  //height:50px;
}

a.sociallink {
  font-size: 28px;
  padding-left:10px; color: inherit;
  &:first-of-type {
    padding-left:0;
  }
  .fa{
    vertical-align: middle;
    font-family: "Font Awesome 5 Brands";
    transition: all .25s ease-in-out;
  }
  span{
    font-size: initial;
  }
}

.fa-custom-falkon_url_fb:before{content: "\f082";}
.fa-custom-falkon_url_twitter:before{content: "\f081";}
.fa-custom-falkon_url_google_plus:before{content: "\f0d4";}
.fa-custom-falkon_url_linkedin:before{content: "\f08c";}
.fa-custom-falkon_url_youtube:before{content: "\f167";}
.fa-custom-falkon_url_inst:before{content: "\f16d";}
.fa-custom-falkon_url_pin:before{content: "\f0d2";}
.fa-custom-falkon_url_vimeo:before{content: "\f40a";}
.fa-custom-falkon_url_tumblr:before{content: "\f173";}

//a.sociallink:hover .fa-custom-falkon_url_fb{color:#3b5998; transition: all .25s ease-in-out;}
//a.sociallink:hover .fa-custom-falkon_url_twitter{color:#00aced; transition: all .25s ease-in-out;}
//a.sociallink:hover .fa-custom-falkon_url_google_plus{color:#dd4b39; transition: all .25s ease-in-out;}
//a.sociallink:hover .fa-custom-falkon_url_linkedin{color:#007bb6; transition: all .25s ease-in-out;}
//a.sociallink:hover .fa-custom-falkon_url_youtube{color:#bb0000; transition: all .25s ease-in-out;}
//a.sociallink:hover .fa-custom-falkon_url_inst{color:#d6456d; transition: all .25s ease-in-out;}
//a.sociallink:hover .fa-custom-falkon_url_pin{color:#cb2027; transition: all .25s ease-in-out;}
//a.sociallink:hover .fa-custom-falkon_url_vimeo{color:#aad450; transition: all .25s ease-in-out;}
//a.sociallink:hover .fa-custom-falkon_url_tumblr{color:#32506d; transition: all .25s ease-in-out;}
