//Custom Bullets
ul.arrows {
  list-style-type: none;
  //margin-bottom: 30px;
  padding-left: 1rem;
  li {
    list-style-position: inside;
    //text-indent: -32px;
    //padding:5px 0;
    //margin-left: 32px;
    line-height: 36px;
  }
  //@media only screen and (max-width : $screen-sm-max) {
  //  li {
  //    margin-left:30px;
  //  }
  //}
  li::before {
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 15px;
    color:#0d57a8;
    vertical-align: top;
  }

}

.btn + .btn{
  margin-left: $grid-gutter-width;
}

.btn-lg{
  margin-top:$grid-gutter-width/4;
  margin-bottom:$grid-gutter-width/4;
}

.bg-blue.text-white{
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6{
    color: $white;
  }
  .btn-outline-white{
    &:hover{
      color: $blue;
    }
  }
}
.home {
  #clients-home-wrapper {
    @include media-breakpoint-up(xl) {
      //margin-top: -150px;
      //padding-top: 40px;
    }
    @include media-breakpoint-down(sm) {
      //margin-top: -150px;
      //padding-top: 40px;
    }
  }
}


blockquote,.blockquote{
  @extend .h3;
  font-family: $roboto-slab;
  font-weight: 300;
  line-height: $line-height-base;
  margin-bottom: $grid-gutter-width;
}

#block-home-wrapper{
  p{
    font-weight: 300;
    font-size: 2rem;
    strong,b{
      font-weight: 500;
    }
  }
}

.mega-image{
  @include media-breakpoint-up(xl) {
    img {
      max-width: none;
      float: right;
      &.text-right {
        float: right;
      }
      &.text-left {
        float: left;
      }
    }
  }
}
.jumbotron{

  background-repeat: repeat-x;
  background-position: center center;
  //background-color: $white;
  margin-bottom: 0;
  background-size: cover;

  @include media-breakpoint-down(sm) {
    padding: 6rem 1rem;
  }
  .text-white{
    font-family: $lato;
    font-weight: normal;
    a{
      color: inherit;
    }
  }
  .text-white{
    text-shadow: 1px 1px 2px rgba(30,30,30, 0.70);
    font-size: 28px;
  }
  .h1.text-white{
    font-weight: 900;
    font-size: 48px;
  }
}

//.single-case-study{
  .jumbotron{
    //z-index: -1;
    //&::after {
    //  content: "";
    //  background-color:$black;
    //  opacity: 0.5;
    //  top: 0;
    //  left: 0;
    //  bottom: 0;
    //  right: 0;
    //  position: absolute;
    //  z-index: -1;
    //}
    //.shadow{
    //  position: absolute;
    //  top:0;
    //  bottom:0;
    //  right:0;
    //  left:0;
    //  width:100%;
    //  height:100%;
    //  display: block;
    //  background-color: $black;
    //}
    position: relative;
    > .shadow {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1;
    }
    > .container {
      position: relative;
      z-index: 2;
    }
  }
//}

//.page-template-tpl-contact-page,
.blog,.single-post{
  .jumbotron{
    //padding: $jumbotron-padding/1 ($jumbotron-padding / 2);
    margin-bottom: 2rem;
  }
}

.single-post{
  .jumbotron{
    background-size: cover;
  }
}
#contacts-info-wrapper{
  font-family: $roboto;
  font-weight: 300;
  #contacts-info-details{
    p{
      padding-left: 2em;
      margin-bottom: 1.5em;
      .fa,.fas{
        font-size: 24px;
        margin-left: -2em;
        margin-right: 1em;
        vertical-align: bottom;
        @include media-breakpoint-down(sm) {
          margin-left: -1.25em;
          margin-right: 0.25em;
        }
      }
      a{
        color: inherit;
      }
    }
  }
  .map-container{
    height:100%;
    @include media-breakpoint-down(sm) {
      height: 400px;
    }
  }
}


.page-template-tpl-pricing{
}

//#jumbotron-pricing{
//  + div, + main{
//    margin-top: -220px !important;
//    padding-top: 80px !important;
//  }
//}
.wpcf7-form-control{
  @extend .form-control;
}

label{
  font-weight: normal;
  font-size: 21px;
  margin-bottom:0;
}

.form-control{

}
select.form-control{
  min-height: 50px;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="text"],
input[type="search"],
textarea.form-control,select.form-control{
  @extend .form-control;
  padding: $input-padding-y $input-padding-x/2;
  font-family: $lato;
  color: #a9a9a9;
  font-weight: normal;
  font-size: 21px;
  border: none;
  border-radius: 0;
  border-bottom: 1px #b1b1b1 solid !important;
  padding-left: 0;
  padding-right: 0;
}
textarea{
  height: 52px;
}
.wpcf7 {
  input[type="submit"] {
    width: auto;
  }
}