$white:    #fff !default;
$gray-100: #f3f3f3 !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #818181;//#6c757d !default;
$gray-700: #646464;
$gray-800: #4b4b4b;
$gray-900: #3d3d3d;
$black:    #000 !default;

$blue:    #0d57a8;//#007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #e20000;//#dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;
$light-orange: #fef3d6;

$primary: #1381b9;
$secondary:     #82bb00;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-700 ;
$darker:          $gray-900 !default;

$bwp-blue-1: $primary;
$bwp-green: $secondary;
$bwp-blue-2: #00a8e0;

$colors: ();
$colors: map-merge((
        "blue":       $blue,
        "indigo":     $indigo,
        "purple":     $purple,
        "pink":       $pink,
        "red":        $red,
        "orange":     $orange,
        "yellow":     $yellow,
        "green":      $green,
        "teal":       $teal,
        "cyan":       $cyan,
        "white":      $white,
        "gray":       $gray-600,
        "grayer":       $gray-700,
        "gray-dark":  $gray-800,
        "gray-darker": $gray-900
), $colors);

$theme-colors: ();
$theme-colors: map-merge((
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "green":      $green,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark,
        "darker":     $darker,
        "blue":       $blue,
        "white":      $white,
        "red":        $red,
        "light-orange":$light-orange,
        "bwp-blue-1":$bwp-blue-1,
        "bwp-blue-2":$bwp-blue-2,
        "bwp-green":$bwp-green,
), $theme-colors);

$grid-gutter-width: 30px;

$spacer: $grid-gutter-width/2;//1rem;
$spacers: ();
$spacers: map-merge((
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3:  $spacer,
        4: ($spacer * 1.25),
        5: ($spacer * 1.5),
        6: ($spacer * 2),
        7: ($spacer * 3),
        8: ($spacer * 5)
), $spacers);

// Grid containers
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1170px
);

$font-size-base:              1.125rem;

$line-height-base:            1.5;
//$font-weight-light:           300;
//$font-weight-base:            $font-weight-light;

$font-family-sans-serif:  $lato;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$headings-font-family:    $lato;
$headings-font-weight:    300;
$headings-color:          $gray-700;

$headings-margin-bottom:      $spacer;
$headings-margin-top:      $spacer*2;

$h1-font-size:                $font-size-base * 3;//2.5 !default;
$h2-font-size:                $font-size-base * 1.778;//2 !default;
$h3-font-size:                $font-size-base * 1.5;//1.75 !default;
$h4-font-size:                $font-size-base * 1.1667;//1.5 !default;
$h5-font-size:                $font-size-base * 1.1;//1.25 !default;
$h6-font-size:                $font-size-base !default;

$border-radius:               $spacer;//1rem !default;
$border-radius-lg:            $spacer;// !default;
$border-radius-sm:            .5rem !default;

$btn-border-width: 2px;
$btn-font-weight: 600;

$input-btn-padding-y:         .625rem;
$input-btn-padding-x:         2rem;
$input-btn-line-height:       $line-height-base;

$input-btn-padding-y-lg:      1rem;
$input-btn-padding-x-lg:      2rem;
$line-height-lg:              1.25;
$input-btn-line-height-lg:    $line-height-lg;
$btn-padding-y-lg:            $input-btn-padding-y-lg;
$btn-padding-x-lg:            $input-btn-padding-x-lg;

$jumbotron-padding:                 4rem;

$pagination-color:                  $white;
$pagination-bg:                     $primary;
$pagination-border-width:           0;

$pagination-hover-color:            $white;
$pagination-hover-bg:               darken($primary,10) ;

$pagination-active-color:           $gray-500;
$pagination-active-bg:              $white;;

$pagination-padding-y:              0.75rem;
$pagination-padding-x:              1rem;
//$pagination-padding-y-sm:           .25rem !default;
//$pagination-padding-x-sm:           .5rem !default;
//$pagination-padding-y-lg:           .75rem !default;
//$pagination-padding-x-lg:           1.5rem !default;